# HSP2 BUILD and RUN SIMULATION

Place this Jupyter Notebook in a directory with one UCI and one or more WDM files.

## Required Python Imports

In [1]:
import HSP2
import HSP2tools

from glob import glob

In [ ]:
#Commented out due to errors with .versions()

#HSP2tools.versions()

## BUILD HDF5 FILE From UCI and WDM files

Get the name of the UCI file.

In [2]:
uciname = glob('*.uci')[0]
uciname

'GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.UCI'

Create HDF5 filename from the leading part of the UCI filename.

In [3]:
HDFname = uciname.split('.')[0] + '.h5'
HDFname

'GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.h5'

In [5]:
!del {HDFname}

Could Not Find C:\Users\bcousino\Documents\GitHub\limno_HSPsquared\tests\GLWACSO\GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.h5

Create the HDF5 file filled with the UCI data

In [6]:
%timeit HSP2tools.readUCI(uciname, HDFname)

8.76 s ± 284 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Add the timeseries data to the HDF5 file.

In [ ]:
wdmnames = glob('*.wdm')
wdmnames

Add each WDM file one at a time and create a copy of the .h5 file after each to see the file configuration when it stops.

In [9]:
HSP2tools.readWDM('KDTWMet-06272019-KOS_w_Mon17Filled_CHLA_ComDO.wdm', HDFname)

,Start,Stop,Freq,Length,TSTYPE,TFILL,SCENARIO,CONSTITUENT,LOCATION
TS012,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FLOW,-999.0,Monitore,FLOW,UR
TS021,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,PREC,-999.0,OBSERVED,PREC,KDTW
TS083,1999-01-01 00:00:00,2019-01-01 00:00:00,1D,7305,DSOL,-999.0,COMPUTED,DSOL,KDTW
TS055,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,SOLR,-999.0,COMPUTED,SOLR,KDTW
TS057,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,DEWP,-999.0,OBSERVED,DEWP,KDTW
TS054,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,WIND,-999.0,OBSERVED,WIND,KDTW
TS080,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,DSAT,-999.0,CALCULAT,DSAT,KDTW
TS058,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,CLOU,-999.0,ESTIMATE,CLOU,KDTW
TS081,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,UNIT,-999.0,CALCULAT,UNIT,KDTW
TS082,1999-01-01 00:00:00,2019-01-01 00:00:00,1D,7305,CLOU,-999.0,ESTIMATE,CLOU,KDTW
TS023,1999-01-01 00:00:00,2019-01-01 00:00:00,1H,175320,ATEM,-999.0,OBSERVED,ATEM,KDTW
TS011,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FLOW,-999.0,Monitore,FLOW,US5
TS033,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FWT,-999.0,Monitore,FWT,L05D
TS032,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FWT,-999.0,Monitore,FWT,US7
TS031,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FWT,-999.0,Monitore,FWT,US5
TS043,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,DO,-999.0,Monitore,DO,L05D
TS042,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,DO,-999.0,Monitore,DO,US7
TS041,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,DO,-999.0,Monitore,DO,US5
TS099,2016-01-01 00:00:00,2018-01-01 00:00:00,1D,731,DO,-999.0,COMPUTED,DO,8Mile
TS087,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,CHLA,-999.0,Calc,CHLA,181
TS084,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,CHLA,-999.0,Calc,CHLA,434
TS085,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,CHLA,-999.0,Calc,CHLA,319
TS086,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,CHLA,-999.0,Calc,CHLA,251
TS026,1999-01-01 00:00:00,2019-01-01 00:00:00,1D,7305,EVAP,-999.0,COMPUTED,EVAP,KDTW
TS013,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FLOW,-999.0,Monitore,FLOW,US7
TS014,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FLOW,-999.0,Monitore,FLOW,MR
TS015,2016-01-01 00:00:00,2019-01-01 00:00:00,15min,105216,FLOW,-999.0,Monitore,FLOW,L05D

In [10]:
!copy GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.h5 GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4_WDM1.h5

        1 file(s) copied.

In [11]:
HSP2tools.readWDM('RPO_SWMM24NODES2017_wCBOD_June2019.wdm', HDFname)

,Start,Stop,Freq,Length,TSTYPE,TFILL,SCENARIO,CONSTITUENT,LOCATION
TS534,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,TORN,-999.0,RPO_SWMM,TORN,RCH139
TS133,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,CBOD,-999.0,RPO_SWMM,CBOD,RCH133
TS543,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,TORN,-999.0,RPO_SWMM,TORN,RCH443
TS047,2004-01-01 00:00:00,2007-01-01 00:00:00,15min,105216,DO,-999.0,RPO_SWMM,DO,RCH447
TS147,2004-01-01 00:00:00,2007-01-01 00:00:00,15min,105216,CBOD,-999.0,RPO_SWMM,CBOD,RCH447
...,...,...,...,...,...,...,...,...,...
TS939,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,FLOW,-999.0,RPO_SWMM,FLOW,RCH439
TS343,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,NH3N,-999.0,RPO_SWMM,NH3N,RCH443
TS443,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,NOXN,-999.0,RPO_SWMM,NOXN,RCH443
TS643,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,TORP,-999.0,RPO_SWMM,TORP,RCH443
TS743,2004-01-01 00:00:00,2018-01-01 00:00:00,15min,490944,PO4P,-999.0,RPO_SWMM,PO4P,RCH443

In [12]:
!copy GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.h5 GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4_WDM2.h5

        1 file(s) copied.

In [13]:
HSP2tools.readWDM('WDM_2017_UpdatedBOD.wdm', HDFname)

,Start,Stop,Freq,Length,TSTYPE,TFILL,STAID,STNAM,SCENARIO,CONSTITUENT,LOCATION
TS130,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,CBOD,-999.0,7Mi,NONE,CAL,CBOD,7MI
TS030,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,DO,-999.0,7Mi,NONE,CAL,DO,7MI
TS830,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,ECOL,-999.0,7Mi,NONE,CAL,ECOL,7MI
TS930,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,FLOW,-999.0,7Mi,NONE,CAL,FLOW,7MI
TS330,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,NH3N,-999.0,7Mi,NONE,CAL,NH3N,7MI
...,...,...,...,...,...,...,...,...,...,...,...
TS389,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,NH3N,-999.0,U9,NONE,CAL,NH3N,U9
TS489,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,NOXN,-999.0,U9,NONE,CAL,NOXN,U9
TS789,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,PO4P,-999.0,U9,NONE,CAL,PO4P,U9
TS589,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,TORN,-999.0,U9,NONE,CAL,TORN,U9
TS689,2017-01-01 00:00:00,2019-01-01 00:00:00,15min,70080,TORP,-999.0,U9,NONE,CAL,TORP,U9

In [14]:
!copy GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4.h5 GLWA_HSPF_June2019_Mon8MileDataFilled_WT_RW_v4_WDM3.h5

        1 file(s) copied.

In [ ]:
#Testing this with an alternative HDFname

HSP2tools.readWDM('RPO_SWMM48LINKS2017_wCBOD_June2019.wdm', HDFname)
#HSP2tools.readWDM('RPO_SWMM48LINKS2017_wCBOD_June2019.wdm', 'HDF_test.h5')

In [ ]:
# Commented Out due to long run times with no resolution. Used cells above to test reading in the WDM files separately.
#
#for name in wdmnames:
#    HSP2tools.readWDM(name, HDFname)

In [ ]:
!rename {HDFname} temp.h5
!ptrepack temp.h5 {HDFname}
!del temp.h5

## RUN simulation

Get HDF5 filename (in case you didn't need to run the above)

In [ ]:
hdfname =  glob('*.h5')[0]
hdfname

In [ ]:
HSP2.run(hdfname,saveall=True)

In [ ]:
%timeit HSP2.run(hdfname, saveall=True)

Development note (SAVEALL = FALSE)

SAVEALL = FALSE
2017-04-21 22:27:24.17   Run completed
1 loop, best of 3: 31.4 s per loop
Ratio of HSP2/HSPF 31.4/24.4 = 1.3

SAVEALL = TRUE
2017-04-21 22:30:38.52   Run completed
1 loop, best of 3: 36.5 s per loop
Ratio of HSP2/HSPF  36.5/24.4 = 1.5